@import '~winbox/dist/css/winbox.min.css';

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}


.winbox {
  background: linear-gradient(90deg, #ff00f0, #0050ff);
  border-radius: 12px 12px 0 0;
  animation: popup 0.3s cubic-bezier(0.3, 1, 0.3, 1) forwards;
}

@keyframes popup {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}